:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{
  color: orange;
  text-align: center;
  padding: 5px;
}
.add-user{
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  border: 2px solid aqua;
}
.add-user2{
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  border: 2px solid aqua;
}
.add-btn{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.add-btn input{
  width: 250px;
  height: 35px;
  display: block;
}
.add-btn input::placeholder{
  padding-left: 20px;
}
.add-btn button{
  width: 250px;
  height: 35px;
  cursor: pointer;
  background: aqua;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
}
.show-user{
  height: 200px;
  padding: 10px;
  border: 2px solid aqua;
  margin-top: 5px;
  overflow-y: auto;
  
}
.list-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.show-user::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.main{
  width: 80%;
  margin: auto;
}
.user-list{
  background-color: skyblue;
  margin-top: 10px;
  padding: 5px;
  border-radius: 7px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-list button{
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
.link{
  display: flex;
  gap: 20px;
}
